@media (max-width: 899px) {
  .about-content-block {
    display: grid;
    grid-template-columns: 24px auto 24px;
    grid-template-rows: [img]auto [title]auto [text]auto;
    max-width: 800px;
    padding: 100px 0 100px 0;
  }

  .about-title {
    grid-row: 2/3;
    grid-column: 2/3;
    padding-bottom: 20px;
  }

  .about-text {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 18px;
    width: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .about-photo-block {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
  }

  .about-photo {
    width: 250px;
  }
}

@media (min-width: 900px) {
  .about-content-block {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: [title]auto [text]auto [img]auto;
    width: 800px;
    padding: 150px 0 150px 0;
  }

  .about-title {
    grid-column: 1/3;
  }

  .about-text {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .about-photo-block {
    display: flex;
    justify-content: center;
  }

  .about-photo {
    width: 300px;
  }
}

.about-main-block {
  background-color: #e5e7ed;
  justify-content: center;
  display: flex;
}
