.app-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [hero]auto [about]600px [portfolio]auto [tech]500px [footer]300px;
  min-height: 100vh;
}

.app-hero {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #424147;
}
.app-about {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #e5e7ed;
}
.app-portfolio {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: #424147;
}
.app-tech {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background-color: #e5e7ed;
}

.app-footer {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  background-color: #000000;
}
