.app-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [hero]auto [about]auto [portfolio]auto [tech]auto [contact]auto [footer]auto;
  min-height: 100vh;
}

.app-hero {
  background-color: #424147;
  display: flex;
}
.app-about {
  background-color: #e5e7ed;
  justify-content: center;
  display: flex;
}
.app-portfolio {
  background-color: #424147;
  display: flex;
  justify-content: center;
  color: white;
}
.app-tech {
  background-color: #e5e7ed;
  display: flex;
  justify-content: center;
}

.app-footer {
  background-color: #424147;
}
