.bar-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: black;
  color: yellow;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 3;
}

.bar-logo {
  width: 30px;
  cursor: pointer;
}

.bar-link {
  cursor: pointer;
}
