.card-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  color: black;
  align-items: center;
}

.card-content-cursor-pointer {
  cursor: pointer;
}

.card-parent {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  cursor: default;
}

.card-photo {
  width: 200px;
  height: 130px;
  object-fit: cover;
}

.card-coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: rgb(200, 216, 224);
  bottom: 20px;
  z-index: 2;
  opacity: 0.8;
  cursor: default;
}
