@media (max-width: 899px) {
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer-text-contact {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
  }

  .footer-text {
    font-size: 18px;
    width: auto;
  }
}
@media (min-width: 900px) {
  .footer-contact {
    display: flex;
    gap: 100px;
  }

  .footer-text-contact {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    width: 800px;
  }

  .footer-text {
    font-size: 18px;
    width: 300px;
  }
}

.footer-content {
  color: white;
  display: flex;
  justify-content: center;
}

.footer-contact-line {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 10px;
}

.footer-contact-img {
  width: 20px;
}

.footer-link {
  color: white;
}

.footer-media {
  width: 30px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer-media-block {
  background-color: #000000;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  gap: 20px;
}
