@media (max-width: 899px) {
  .hero-block {
    color: yellow;
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
    padding: 300px 20px 0 20px;
  }

  .hero-title {
    font-size: 50px;
  }
}
@media (min-width: 900px) {
  .hero-block {
    color: yellow;
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
    padding: 300px 100px 0 0;
  }

  .hero-title {
    font-size: 100px;
  }
}

.hero-content {
  background-image: url("../images/heroImg.jpg");
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.hero-text {
  font-size: 30px;
  text-align: justify;
}
