body {
  margin: 0;
  font-family: "Heebo", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Heebo";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
p,
a,
label,
button {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

p,
label,
button {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  font-family: "Heebo";
}
