body {
  margin: 0;
  font-family: "Heebo", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a,
label,
button {
  margin: 0;
  padding: 0;
}

p,
label,
button {
  font-size: 18px;
}
