/*.portfolio-content {
  padding: 200px 200px 200px 200px;
  display: flex;
  justify-content: center;
  color: white;
}*/

.portfolio-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 0px 400px 50px 400px;
}

.portfolio-photo-block {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 600px;
}

.portfolio-photo-line {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.portfolio-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}

.portfolio-title {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 20px;
  padding-top: 80px;
}
