@media (max-width: 899px) {
  .portfolio-content-block {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: [title]auto [text]auto [img]auto;
    max-width: 800px;
    padding: 100px 20px 100px 20px;
    gap: 20px;
  }

  .portfolio-title {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
  }

  .portfolio-text {
    font-size: 18px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .portfolio-photo-block {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (min-width: 900px) {
  .portfolio-content-block {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: [title]auto [text]auto [img]auto;
    max-width: 800px;
    padding: 150px 0 150px 0;
  }

  .portfolio-text {
    font-size: 18px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .portfolio-photo-block {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.portfolio-main-block {
  background-color: #424147;
  display: flex;
  justify-content: center;
  color: white;
}
